:root {
  --scent-color: #f79cba;
  --primary-color: #a662ff;
}

.Weather {
  margin: 30px auto;
  padding: 30px;
  border: 5px solid #f9f6fd;
  border-radius: 10px;
}

.Weather .line-dividing {
  border: 3px solid var(--scent-color);
}

.Weather h1 {
  color: var(--primary-color);
  font-family: "Pacifico", cursive;
  font-size: 60px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.Weather .form {
  text-align: center;
}

.Weather .form-control {
  background-color: var(--scent-color);
}

.Weather .btn-outline-custom {
  border: 3px solid var(--scent-color);
}

@media (max-width: 450px) {
  .Weather h1 {
    font-size: 40px;
  }
}
